.task-filter-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin-bottom: 20px;
}

.search-field {
    border-radius: 1000px;
    width: 200px;
    border-style: solid;
    border-color: rgb(221, 221, 221);
    border-width: thin;
    padding: 6px 15px 6px 15px;
    font-size: large;
    color: grey;
}

.status-columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
}

.column {
    padding: 20px 10px 30px 10px;
    background-color: white;
    border-style: solid;
    border-color: rgb(221, 221, 221);
    border-width: thin;
    border-radius: 25px;
    min-height: 75vh;
    width: 280px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.column > .task-list {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.column-title-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    min-height: 40px;
}

.column-title-row > h2 {
    font-size: 20px;
    font-weight: 500;
    color: #35307E;
    transition: 0.15s;
}