.task-card {
    background-color: white;
    border-radius: 25px;
    border-style: solid;
    border-color: rgb(221, 221, 221);
    border-width: thin;
    width: 235px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    padding: 20px;
    gap: 15px;
    cursor: pointer;
    margin-bottom: 10px;
}



.task-card-top-row{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.task-identifier-pill {
    background-color: #35307E;
    color: white;
    border-radius: 6px;
    padding: 5px 10px 5px 10px;
    margin: 0px;
    width:fit-content;
    height: fit-content;
    font-size: small;
    font-weight: 400;
}

.task-priority-pill {
    color: white;
    border-radius: 6px;
    padding: 5px 10px 5px 10px;
    margin: 0px;
    width:fit-content;
    height: fit-content;
    font-size: small;
    font-weight: 400;
}

.task-priority-pill.red {
    background-color: #e96262;
}

.task-priority-pill.green {
    background-color: #45da5e;
}

.task-priority-pill.yellow {
    background-color: #f8b965;
}

.task-arrow {
    margin-left: auto;
    transition: 0.5s;
}

.task-card-content {
    display: flex;
    flex-direction: column;
    gap:10px;
}

.task-title-row {
    display: flex;
    flex-direction: column;
    gap:5px;
}

.task-title {
    font-size: 20px;
    font-weight: 500;
    color: #35307E;
}

.task-timestamp {
    font-size: 12px;
    font-weight: 400;
    color: #818181;
}

.task-summary {
    font-size: 14px;
}