.projects-overview {
    display:flex;
    flex-direction: column;
    gap: 40px;
}

.welcome-messages-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.greeting {
    font-size: xx-large;
    font-weight: bolder;
    color: #35307E;
}

.projects-text-count {
    display: flex;
    align-items: center;
    gap: 15px;
}

.your-projects-text {
    text-transform: uppercase;
    color: #35307E;
    font-size: larger;
    font-weight: 500;
}

.projects-wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.create-new-project-card {
    background-color: rgba(255, 255, 255, 0);
    border-radius: 25px;
    -webkit-box-shadow: 0px 5px 25px 0px rgba(0,0,0,0.15); 
    box-shadow: 0px 5px 25px 0px rgba(0,0,0,0.15);
    width: 350px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 15px;
    transition: 0.5s;
    cursor: pointer;
}

.create-new-project-card:hover  {
    background-color: #35307E;
    transform: scale(1.05);
}
.create-new-project-card:hover > .add-icon {
    fill: white;
}